.profile-image {
  padding-right: 1.4rem;
}

.profile-image > img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  display: block;
}

@media screen and (max-width: 1024px) {
  .profile-image > img {
    width: 12rem;
    height: 12rem;
  }
}
