.profileInfoRow {
  display: flex;
  align-items: center;
}

.profileInfoLeft {
  padding-right: 0.6rem;
  color: var(--sub-text);
  font-size: 1.2rem;
  flex-basis: 3rem;
  text-align: right;
}
.profileInfoRight {
  font-size: 1.4rem;
}
