.flex_item {
  display: flex;
  padding: 1rem 0;
  margin: 0 0 2rem 0;
  border-bottom: 1px solid #1e1e1e;
}

.flex_item > div {
  flex-grow: 1;
}

.flex_item > div:first-child {
  padding-right: 3rem;
  flex-shrink: 0;
}

@media screen and (max-width: 960px) {
  .flex_item {
    flex-direction: column;
  }

  .flex_item > div:first-child {
    flex-basis: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
