@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import "./normalize.css";

body,
html {
  font-size: 16px;
  font-family: "Nanum Gothic Coding", sans-serif;
  word-break: keep-all;
  line-height: 1.4;
  background-color: black;
  color: #cecece;
}
a:visited {
  color: #cecece;
}

@media screen and (max-width: 1024px) {
  body,
  html {
    font-size: 14px;
  }
}

h1 {
  font-size: 4.5rem;
  margin: 2rem 0 1rem 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 0.6rem 0;
  padding-left: 0.4rem;
  border-left: 6px solid #e50914;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2rem;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 1.2rem;
  }
}

h5 {
  font-size: 1.2rem;
  margin: 0 0 0.6rem 0;
}

@media screen and (max-width: 1024px) {
  h5 {
    font-size: 1rem;
  }
}
